/* Определение корневого элемента для установки CSS-переменных */
:root {
	/* Переменная для семейства шрифта Inter */
	--inter-font: 'Inter';
	/* Переменная для семейства шрифта Press Start 2P */
	--ps2p-font: 'PressStart2P';
	/* Переменная для ширины (толщины) шрифта заголовков карточек */
	--heading-card-text-width: 785;
	/* Переменная для ширины (толщины) шрифа карточек */
	--card-text-width: 400;
	/* Переменная для ширины (толщины) шрифта заголовков карточек (альтернативная) */
	--card-headers-width: 785;
	/* Переменная для основного цвета фона */
	--background-color: #fff;
	/* Переменная для основного цвета текста */
	--text-color: #000;
	/* Переменная для цвета обводки */
	--stroke-color: #fff;
	/* Переменная для цвета границы */
	--border-color: #000;
	/* Переменная для цвета фона модального окна */
	--background-modal-color: #000;

	/* Переменная для цвета обводки иконки */
	--icon-stroke-color: #000;
	/* Переменная для цвета заливки иконки */
	--icon-fill-color: #ff0000;

	/* Переменная для сложного фона с повторяющимися градиентами */
	--main-background-color: repeating-linear-gradient(
			/* Горизонтальный повторяющийся градиент с пунктирной линией */
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px 4px
		),
		/* Вертикальный повторяющийся градиент с пунктирной линией */
		repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px 4px),
		/* Обычный линейный градиент от светлого к темному */
		linear-gradient(#e7e7e7, #1a1a1a);
}